body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
    margin: 0;
    height: 100vh; /* Full høyde av vinduet */
    display: flex;
    flex-direction: column; /* Sørg for at elementene stables vertikalt */
    justify-content: center; /* Sentrer horisontalt */
    align-items: center; /* Sentrer vertikalt */
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.bilde-bevegelse {
    height: 50px;

}

.bevegelse-knapp {
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 10px;
    cursor: pointer;
}

.resultat {
    font-size: 25px;
    font-weight: bold;
}

.stilling {
    margin-top: 60px;
}

.tilbakestill-stilling {
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
}
